.parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.child{
  border:2px solid #1A6AC4;
  padding:2%;
  margin: 2%;
  box-shadow:3px 3px 3px #ddd;
}
img{
  width:200px;
  height:200px;
  border-radius: 50%;
  border: 2px solid #1A6AC4;
}
h2,
h3{
  text-align: center;
}

.a{
  display: block;
  text-align: center;
  text-decoration:none;
  background:#1A6AC4;
  color: #fff;
  padding: 2%;
}
.LeftChild{
  width: 30%;
  border: 2px solid #ddd;
  padding: 2%;
  margin: 2%;
  text-align:center;
}
.RightChild{
  width: 70%;
  border: 2px solid #ddd;
  padding: 2%;
  margin: 2%;
}
.mail{
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .child{
    border:2px solid #1A6AC4;
    padding:2%;
    margin: 2%;
    box-shadow:3px 3px 3px #ddd;
  }
  img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 2px solid #1A6AC4;
  }
  h2,
  h3{
    text-align: center;
  }

  .a{
    display: block;
    text-align: center;
    text-decoration:none;
    background:#1A6AC4;
    color: #fff;
    padding: 2%;
  }
  .LeftChild{
    width: 90%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align:center;
  }
  .RightChild{
    width: 90%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .child{
    border:2px solid #1A6AC4;
    padding:2%;
    margin: 2%;
    box-shadow:3px 3px 3px #ddd;
  }
  img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 2px solid #1A6AC4;
  }
  h2,
  h3{
    text-align: center;
  }

  .a{
    display: block;
    text-align: center;
    text-decoration:none;
    background:#1A6AC4;
    color: #fff;
    padding: 2%;
  }
  .LeftChild{
    width: 50%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align:center;
  }
  .RightChild{
    width: 50%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .child{
    border:2px solid #1A6AC4;
    padding:2%;
    margin: 2%;
    box-shadow:3px 3px 3px #ddd;
  }
  img{
    width:200px;
    height:200px;
    border-radius: 50%;
    border: 2px solid #1A6AC4;
  }
  h2,
  h3{
    text-align: center;
  }

  .a{
    display: block;
    text-align: center;
    text-decoration:none;
    background:#1A6AC4;
    color: #fff;
    padding: 2%;
  }
  .LeftChild{
    width: 40%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
    text-align:center;
  }
  .RightChild{
    width: 60%;
    border: 2px solid #ddd;
    padding: 2%;
    margin: 2%;
  }
  .mail{
    text-decoration: none;
    font-size: 20px;
  }
}
